body, html {
  background-color: #FFEDDF;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes slideIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideIn {
  animation-name: slideIn;
}