@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-sans-pro-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

.light {
  --background: #FFEDDF;
  --foreground: black;
  --link: blue;
}

.dark {
  --background: #152741;
  --foreground: white;
  --link: #FFEDDF;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #152741;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #FFEDDF;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  transition: color 400ms ease, background-color 400ms ease;
}

.layout {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
  padding-top: 125px;
  position: relative;
}

@media (max-width: 920px) {
  .layout {
    padding-top: 75px;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes slideInVisible {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slideInVisible {
  transform: translateY(-10px);
  animation-name: slideInVisible;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}